.background-icon,
.logo-removebg-preview-2whkafxs-icon {
  position: absolute;
  top: 135.5px;
  left: 0;
  width: 1440px;
  height: 708.5px;
  object-fit: cover;
}
.logo-removebg-preview-2whkafxs-icon {
  top: 0;
  width: 747px;
  height: 125.15px;
}
.background,
.home-button-child {
  position: absolute;
  top: 12px;
  left: 0;
  width: 1440px;
  height: 844px;
}
.home-button-child {
  top: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkslategray);
  width: 92px;
  height: 27px;
}
.home {
  position: absolute;
  top: 4px;
  left: 38px;
  display: inline-block;
  width: 39px;
  height: 21px;
}
.icon-house-2 {
  position: absolute;
  height: 62.96%;
  width: 23.91%;
  top: 18.52%;
  right: 65.22%;
  bottom: 18.52%;
  left: 10.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.home-button,
.login {
  position: absolute;
  top: 0;
  left: 0;
  width: 92px;
  height: 27px;
}
.login {
  top: 4px;
  left: 40px;
  display: inline-block;
  width: 39px;
  height: 21px;
}
.group-icon {
  position: absolute;
  height: 59.16%;
  width: 19.57%;
  top: 22.22%;
  right: 69.57%;
  bottom: 18.61%;
  left: 10.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.about,
.about-button {
  position: absolute;
  top: 0;
  left: 216px;
  width: 92px;
  height: 27px;
}
.about {
  top: 4px;
  left: 36px;
  display: inline-block;
  width: 39px;
  height: 21px;
}
.info-icon {
  position: absolute;
  height: 62.96%;
  width: 19.57%;
  top: 18.52%;
  right: 69.57%;
  bottom: 18.52%;
  left: 10.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.about-button1,
.top-nav {
  position: absolute;
  top: 0;
  left: 108px;
  width: 92px;
  height: 27px;
}
.top-nav {
  top: 29px;
  left: 1116px;
  width: 308px;
  font-size: var(--font-size-mini);
}
.sold-cars-child {
  position: absolute;
  top: 28px;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-dimgray);
  box-shadow: 0 4px 4px #000;
  width: 225px;
  height: 223px;
}
.pngimg-1-icon {
  position: absolute;
  top: 164px;
  left: 33px;
  width: 158px;
  height: 74px;
  object-fit: cover;
}
.lambologo-1-icon,
.rollslogo-1-icon {
  position: absolute;
  top: 34px;
  left: 12px;
  width: 108px;
  height: 130px;
  object-fit: cover;
}
.lambologo-1-icon {
  top: 50px;
  left: 120px;
  width: 86px;
  height: 98px;
}
.frame-child {
  border-radius: var(--br-8xs);
  background-color: var(--color-black);
}
.frame-child,
.sold-cars,
.sold-cars-inner,
.used-cars1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 225px;
  height: 26px;
}
.sold-cars,
.used-cars1 {
  top: 177px;
  left: 259px;
  height: 251px;
}
.used-cars1 {
  top: 0;
  left: 71px;
  display: inline-block;
  width: 83px;
  height: 26px;
}
.new-cars,
.used-cars {
  position: absolute;
  top: 177px;
  left: 901px;
  width: 225px;
  height: 251px;
}
.new-cars {
  top: 0;
  left: 72px;
  display: inline-block;
  width: 80px;
  height: 26px;
}
.new-cats,
.rectangle-div {
  position: absolute;
  top: 177px;
  left: 580px;
  width: 225px;
  height: 251px;
}
.rectangle-div {
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-black);
  width: 867px;
  height: 50px;
}
.search-by-category {
  margin: 0;
}
.search-by-category-container {
  position: absolute;
  top: 10px;
  left: 356px;
  display: inline-block;
  width: 162px;
  height: 40px;
}
.frame-div,
.search-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 867px;
  height: 50px;
}
.search-button {
  top: 445px;
  left: 259px;
}
.span {
  font-family: var(--font-lalezar);
}
.submit {
  position: absolute;
  top: 15px;
  left: 406px;
  display: inline-block;
  width: 70px;
  height: 40px;
}
.submit-button {
  position: absolute;
  top: 306px;
  left: 0;
  width: 867px;
  height: 55px;
}
.bessy-interface-child {
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-dimgray);
  height: 239px;
}
.bessy-interface,
.bessy-interface-child,
.textfield {
  position: absolute;
  width: 867px;
}
.textfield {
  top: 249px;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-dimgray);
  border: 1px solid #848484;
  box-sizing: border-box;
  height: 48px;
}
.bessy-interface {
  top: 495px;
  left: 259px;
  height: 361px;
  font-family: var(--font-roboto);
}
.inv-status-report {
  position: relative;
  background-color: var(--color-black);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-lalezar);
}
